/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    --primary-color: #cc0000;
}
mat-toolbar {
    position: relative;
    z-index: 5;
}
.big-profile-pic {
    background-image: url('../src/assets/images/profile-pic.jpg');
    background-size: cover;
    background-position: -2px 0px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid whitesmoke;
}
.small-profile-pic {
    background-image: url('../src/assets/images/profile-pic.jpg');
    background-size: cover;
    background-position: -2px 0px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    border: 1px solid whitesmoke;
}
.hide-header-text {
    opacity: 0;
    height: 0 !important;
}
.menu-item {
    border-left: 5px solid;
    border-left-color: rgba(0, 0, 0, 0);
}
.selected-menu-item {
    background: rgba(0, 0, 0, 0.05);
    border-left-color: #3f51b5;
}